/*Main Text Color
rgba(33, 33, 33, 1) 
*/

/* White Text 
color: #FFFFFF; 
*/

/* WebStudio Header
rgba(33, 150, 243, 1); 
rgba(0, 0, 0, 1)

*/

/* WebStudio Footer
rgba(33, 150, 243, 1); 
rgba(255, 255, 255, 1)

*/

/* Phone Header
color: #757575;; 
*/

/* Phone & Email Footer
rgba(255, 255, 255, 0.6)
*/

/* Accent  
background: #2196F3; 
*/
html {
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;
}

/* ---------------- REMOVE PADDINGS & MARGINS ------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color-white: #f5f5f5;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

/*Header */

/* ---------------- CONTAINER ------------ */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* -------------------PORTFOLIO ANIMATION (moving up) ELEMENTS */
.image-thumb {
  position: relative;
  overflow: hidden;
  
}





.overlay-portfolio {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(110%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-element:hover .overlay-portfolio,
.flex-element:focus .overlay-portfolio {
  transform: translateY(0%);
}

.overlay-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}


/* .portfolio-thumb {
  display: inline-block;
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 165, 0, 0.5);

  opacity: 0;
} */

/* 

.btn {

  position: relative;
  display: inline-flex;
  align-items: center;
  border: none;
  margin: 0;
  padding: 10px 30px;
  border-radius: 3px;
  background-color: #008080;
  color: #fff;
  font: inherit;
  cursor: pointer;

  overflow: hidden;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.btn::before,
.btn::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;

  background-size: contain;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn::before {
  margin-right: 5px;

  background-image: url('../images/bird.svg');
}

.btn:hover::before,
.btn:focus::before {
  transform: translateY(-35px);
}

.btn::after {
  position: absolute;
  top: 50%;
  left: 30px;
  background-image: url('../images/cat.svg');

  transform: translateY(calc(-50% + 35px));
}

.btn:hover::after,
.btn:focus::after {
  transform: translateY(-50%);
}

.btn:hover,
.btn:focus {
  background-color: #d87093;
}



*/




/* ---------------- PORTFOLIO CONTAINERS ------------ */
.flex-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

.flex-element {
  width: calc((100% - 60px) / 3);

  transition: 
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-element:hover,
.flex-element:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* .flex-element:nth-child(3n) {
margin-right: 0px;
} */

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.border-container {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  background: #ffffff;
}

/*
.section {
padding-top: 0px;
padding-bottom: 0px;
} */

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.page-header {
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}

.accent-header {
  color: rgba(0, 0, 0, 1);
}

.accent-footer {
  color: rgba(255, 255, 255, 1);
}

.accent-web {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.item-icon {
  display: flex;
  align-items: center;
  fill: currentColor;
  gap: 10px;
}


/* Remove Text Decorations */

.list {
  list-style: none;
  text-decoration: none;
}

.link {
  list-style: none;
  text-decoration: none;
  color: inherit;

  transition: 
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;


  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* ----------------------------- ALIGNIGN ALL LINKS ---------------*/
.main-line {
  display: flex;
  align-items: center;
}

.portfolio-main-line {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .portfolio-main-line .item {
display: block;
padding-top: 94px;
padding-bottom: 34px;
} */

.portfolio-main-line .item + .item {
  margin-left: 8px;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav .email:hover,
.auth-nav .email:focus {
  color: var(--accent-color);
}

.auth-nav .phone:hover,
.auth-nav .phone:focus {
  color: var(--accent-color);
}

.logo-padding {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .current::after {
  display: flex;
  position: absolute;
  content: "";
  align-items: flex-end;
  left: 0%;
  bottom: -1px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}

/* Mail and Phone Number Header*/
.email {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: 
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email:hover,
.email:focus {
  color: var(--accent-color);
}

.phone {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: 
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone:hover,
.phone:focus {
  color: var(--accent-color);
}

/*-----------------------------HEROSection 1-------------- */
.hero {
  margin-top: 0;
  margin-bottom: 0;
  align-items: center;
  text-align: center;
  padding: 200px 0px 200px 0px;
  margin: 0 auto;
  background-color: #2f303a;
}

.hero-section {
  background-color: #2f303a;
}

.hero-title {
  margin-bottom: 30px;

  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.overlay {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main_bq.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* -----------------BUTTONS--------------------- */
.pointer {
  cursor: pointer;
}

.button {
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  border: 1px solid transparent;

  color: #ffffff;
  background-color: var(--accent-color);
  font-size: 16px;
  padding: 12px 24px;
  display: inline-block;
  border: 1px solid black;


  transition: 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary {
  padding: 10px 32px;
  min-width: 216px;
  justify-content: center;
  margin: 0px;
  cursor: pointer;

  color: #ffffff;
  background-color: var(--accent-color);
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}

.button.secondary {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  border-color: transparent;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}

.button.secondary:hover,
.button.secondary:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ------------------------PORTFOLIO BUTTONS ---------------------*/
.btn-all {
  padding: 6px 25px;
  min-width: 73px;
}

.btn-web {
  padding: 6px 22px;
  min-width: 125px;
}

.btn-extra {
  padding: 6px 22px;
  min-width: 112px;
}

.btn-design {
  padding: 6px 22px;
  min-width: 103px;
}

.btn-marketing {
  padding: 6px 22px;
  min-width: 130px;
}

/* Section 2 and 3 -----------FEATURE LISTS 
--------------------------------------------------Наші переваги*/
.about-section-advantage {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-section-about {
  padding-bottom: 94px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
}

.feature-list .item {
  width: 270px;
  margin-right: 30px;
}

.feature-list .item:last-child {
  margin-right: 0;
}

/* ------------------ICONS FOR THE SECTION 2 ----------------*/

.advantage-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  gap: 30px;
  margin-bottom: 30px;
}

/* .feature-list .item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  margin-bottom: 30px;
} */
/* 
.icon-antenna::before {
  background: rgba(245, 244, 250, 1);
  background-image: url(../images/icons.svg);
}

.icon-clock::before {
  background: rgba(245, 244, 250, 1);
  background-image: url(../images/clock.svg);
}

.icon-graphic::before {
  background: rgba(245, 244, 250, 1);
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background: rgba(245, 244, 250, 1);
  background-image: url(../images/astronaut.svg);
} */

/* Section 3 -----------FEATURE LISTS 
--------------------------------------------------Чим ми займаємося*/
/* -------------------SIGNAGES FOR PICTURES */

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb > .label {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 27px 0px;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);


font-weight: 700;
line-height: 1.14px;
text-transform: uppercase;
color: #FFFFFF;
}






.feature-list-about {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 50px;
}

.feature-list-about .item {
  width: calc((100% - 60px) / 3);
}

/* .feature-list-about .item:last-child {
margin-right: 0;
} */

/* -----------Section 4 -----------TEAM------------------------------------------*/
.feature-team {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}

.feature-team .item {
  width: calc((100% - 90px) / 4);

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.feature-team .item:last-child {
  margin-right: 0;
}

.about-section-main {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.about-section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.33;
  text-transform: uppercase;
}

/* -----------------------TEAM SOCAL MEADIA ICONS  */
.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team-soc-item {
  width: 44px;
  height: 44px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: rgba(33, 150, 243, 1);
}

.team-soc-icon {
  fill: #afb1b8;
}

.team-soc-link:hover .team-soc-icon {
  fill: #ffffff;
}

.team-soc-link:focus .team-soc-icon {
  fill: #ffffff;
}

/* ---------------------Наші переваги------------------HIDDEN H2 &H1 */
.visibility-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-section-text {
  margin-top: 10px;
  color: var(--primary-text-color);
  line-height: 2;
}

/* Section 4 */

.team-section {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #f5f4fa;
}

.team-section-main {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
}

.team-introduction {
  padding: 30px 0;
}

.team-section-leader {
  margin-bottom: 10px;
  text-align: center;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-section-title {
  text-align: center;
  margin-bottom: 16px;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
}

/* --------------------------SECTION 5 --------------------*/
.about-section-clients {
  padding-bottom: 94px;
  padding-top: 94px;
}

.client-logo-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.client-logo-item {
  width: 100%;
  height: 100%;
}

.client-logo-link {
  width: 170px;
  height: 92px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: 
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.client-logo-link:hover,
.client-logo-link:focus {
  background-color: #ffffff;
  border-color: rgba(33, 150, 243, 1);
}

.client-logo-icon {
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo-link:hover .client-logo-icon {
  fill: rgba(33, 150, 243, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo-link:focus .client-logo-icon {
  fill: rgba(33, 150, 243, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*-----------------------Section Portfolio --------------------*/

.portfolio-title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.about-section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ----------------------FOOTER------------------------*/

.logo-footer {
  display: block;
  margin-bottom: 20px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}


.footer-address {
  display: block;
  color: #ffffff;
  font-style: normal;
  line-height: 2;
  text-decoration: none;
}

.street {
  margin-bottom: 9px;
}

.footer-email {
  display: block;

  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 2;
  text-decoration: none;
}

.footer-phone {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 2;
  text-decoration: none;
}

/* -------------------FOOTER ICONS ------------------*/
.footer-content {
  display: flex;
  align-items: baseline;
}

.footer-info {
  margin-right: 70px;
}

.footer-icon {
  align-items: center;
  justify-content: center;
}

.footer-icon-header {
  margin-bottom: 20px;
  display: flex;
  display: inline-block;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-icon-list {
  display: flex;
  gap: 10px;
}

.footer-icon-item {
  width: 44px;
  height: 44px;
}

.footer-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-logo {
  fill: #ffffff;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: rgba(33, 150, 243, 1);
  border-color: #ffffff;
}
